{% extends "sbadmin/base.html" %}
{% block title %}Add PO{% endblock %}

{% block content %}

<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2 align-items-center">
        <div class="col-sm-6">
          <h4 class="m-0">Purchase Order - Create</h4>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'po_listing' %}">All PO's</a></li>
            <li class="breadcrumb-item active">Add</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <div class="card-header pr-0">
    <a href="{% url 'all_products' %}" class="text-danger float-right pt-2 btn btn-tool">
      <i class="fas fa-times"></i>
    </a>
  </div>
  <section class="content p-3  invoice">
            {% csrf_token %}
            <div class="row col-md-12">
                <!-- PRODUCT TYPE -->
                <div class="col-sm-6 p-2">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Vendor</label>
                        <div class="col-sm-9">
                          <select  name="vendor_id" id="vendor_id" class="w-50 select2" title="Select">
                              <option value="">Select</option>
                              {% for vendor in vendors %}
                                  <option {% if po.vendor_id == vendor.id %}selected{% endif %} value="{{ vendor.id }}">{{ vendor.display_name }} ({{ vendor.vendor_code }}))</option>
                              {% endfor %}
                          </select>
                        </div>
                    </div>
                    <div class="form-group row ">
                        <label class="col-sm-3 col-form-label">Vendor Name</label>
                        <div class="col-sm-9">
                          <input type="text" value="{{ po.vendor_name }}" id="vendor_name" name="vendor_name" class="w-50 form-control" placeholder=""/>
                        </div>
                    </div>
                    <div class="form-group row ">
                        <label class="col-sm-3 col-form-label">Currency Code</label>
                        <div class="col-sm-9">
                            <input type="text"  value="{{ po.currency_code }}" name="currency_code" id="currency_code" class="w-50 form-control" disabled/>
                        </div>
                    </div>
                    <div class="form-group row ">
                        <label class="col-sm-3 col-form-label">Vendor Reference</label>
                        <div class="col-sm-9">
                          <input type="text" value="{{ po.vendor_reference }}" name="vendor_reference" id="vendor_reference" class="w-50 form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Invoice Date</label>
                        <div class="col-sm-9">
                          <input type="date" value="{{ po.invoice_date|date:'Y-m-d' }}" name="invoice_date" id="invoice_date" class="w-50 form-control" >
                        </div>
                    </div>
                     <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Warehouse</label>
                        <div class="col-sm-9">
                          <select required name="warehouse" class="select2 w-50" id="warehouse" title="Select type">
                              <option value="">Select warehouse</option>
                              {% for warehouse in warehouses %}
                                  <option {% if po.warehouse_id == warehouse.warehouse_id %}selected{% endif %} value="{{ warehouse.warehouse_id }}">{{ warehouse.warehouse_name }}</option>
                              {% endfor %}
                          </select>
                        </div>
                    </div>
                     <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Order Date</label>
                        <div class="col-sm-9">
                          <input type="date" value="{{ po.order_date|date:'Y-m-d' }}" name="order_date" id="order_date" class="w-50 form-control" >
                        </div>
                    </div>
                     <div class="form-group row ">
                        <label class="col-sm-3 col-form-label">Delivery Date</label>
                        <div class="col-sm-9">
                          <input type="date" value="{{ po.delivery_date|date:'Y-m-d' }}" name="delivery_date" id="delivery_date" class="w-50 form-control" >
                        </div>
                    </div>
                    <div class="form-group row ">
                        <label class="col-sm-3 col-form-label">Payment Term</label>
                        <div class="col-sm-9">
                          <select class="w-50 form-control select2" id="payment_term_id">
                              {% for payment_term in payment_terms %}
                                <option {% if po.payment_term_id == payment_term.id %}selected{% endif %} value="{{ payment_term.id }}">{{ payment_term.name }}</option>
                              {% endfor %}
                          </select>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 p-1">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Delivery Name</label>
                        <div class="col-sm-9">
                          <input type="text" value="{{ po.delivery_name }}" id="delivery_name" name="delivery_name" class="form-control w-50" placeholder=""/>
                        </div>
                    </div>

                    <div class="form-group row ">
                        <label class="col-sm-3 col-form-label">Address Line 1</label>
                        <div class="col-sm-9">
                          <input type="text" value="{{ po.address_line1 }}"  id="address_line1" name="address_line1" class="form-control w-50" placeholder=""/>
                        </div>
                    </div>
                    <div class="form-group row ">
                        <label class="col-sm-3 col-form-label">Address Line 2</label>
                        <div class="col-sm-9">
                          <input type="text"  value="{{ po.address_line2 }}"  name="address_line2" id="address_line2" class="w-50 form-control" />
                        </div>
                    </div>
                    <div class="form-group row ">
                        <label class="col-sm-3 col-form-label">Suburb</label>
                        <div class="col-sm-9">
                          <input type="text" name="suburb"  value="{{ po.suburb }}" id="suburb" class="w-50 form-control" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">City</label>
                        <div class="col-sm-9">
                          <input type="text" name="city"  value="{{ po.city }}"  id="city" class="w-50 form-control" >
                        </div>
                    </div>
                     <div class="form-group row">
                        <label class="col-sm-3 col-form-label">State</label>
                        <div class="col-sm-9">
                          <input type="text" name="state"  value="{{ po.state }}"   id="state" class="w-50 form-control" >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Post Code</label>
                        <div class="col-sm-9">
                          <input type="text" name="post_code" value="{{ po.post_code }}"  id="post_code" class="w-50 form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Country</label>
                        <div class="col-sm-9">
                          <select id="country_id" name="country_id" class="select2 w-50 " title="Select">
                            <option value="">Select </option>
                            {% for country in country_list %}
                              <option {% if po.country_id == country.id %}selected{% endif %} value="{{ country.id }}">{{ country.name }} </option>
                            {% endfor %}
                          </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Tax %</label>
                        <div class="col-sm-9">
                          <input type="number" value="{{ po.tax_percentage }}" name="tax_percentage" data-min-value="0" data-max-value="100" id="tax_percentage" class="percentager w-50 form-control" />
                        </div>
                    </div>
                </div>
            </div>
    <div class="row mt-3">
      <div class="col-12" >
        <!-- BASIC INFO -->
        <div class="text-left" >
            <div class="mb-4 col-12 table-responsive" style="border-bottom: 1px solid #dee2e6;
            padding-bottom: 0.4rem;"><h5>Products</h5></div>
            <div class="row">
                <div class="col-12">
                    <div class="col-3 float-left">
                        <div class="form-group row">
                            <input type="hidden" id="row_item"  />
                            <label class="col-sm-3 col-form-label">Product</label>
                            <div class="col-sm-9">
                             <div class="position-relative" >
                                <input type="text" id="productSearch" class="form-control" placeholder="Search product..." />
                                <div id="suggestionsBox" class="list-group position-absolute w-100" style="z-index:1000;display:none;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-2 float-left">
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Quantity</label>
                        <div class="col-sm-5">

                          <input type="text" name="qty" id="row_qty" class="form-control-sm form-control product_details">
                        </div>
                    </div>
                </div>
                <div class="col-2 float-left">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Price</label>
                        <div class="col-sm-6">
                          <input type="text" value="" id="row_price" name="price" class="form-control form-control-sm product_details">
                        </div>
                    </div>
                </div>
                 <div class="col-2 float-left">
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Discount %</label>
                        <div class="col-sm-4">
                          <input type="text" id="row_discount_percentage" name="discount_percentage" class="form-control-sm form-control product_details">
                        </div>
                    </div>
                </div>
                <div class="col-2 float-left">
                    <div class="form-group row">
                        <label id="row_sub_total_detail" class=" col-form-label sub_total_detail"></label>
                    </div>
                </div>
                <div class="col-1 float-left">
                    <button type="button" id="btn_add_line_item" class="btn-sm btn btn-primary btn_add_line_item" >
                        <i class="fa fa-plus pr-1"></i>
                        ADD</button>
                </div>
            <div>

            </div>
            <table class="table border table-striped w-100">
                <th style="width:35%">DETAILS</th>
                <th class="text-center" style="width:5%">QUANTITY</th>
                <th class="text-center" style="width:5%">RATE</th>
                <th class="text-center" style="width:5%">TAX</th>
                <th class="text-center" style="width:8%">DISCOUNT</th>
                <th class="text-center" style="width:12%">SUB TOTAL</th>
                <th class="text-center" style="width:12%">TAX TOTAL</th>
                <th class="text-right" style="width:10%">TOTAL</th>
                <th class="text-center" style="width:4%"></th>
                <tbody id="product_line_item"></tbody>
            </table>
            </div>
          </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-6">

              <p class="lead">Comments:</p>
                <textarea id="comments" class="form-control " rows="4" style="width:75%" name="comments">{{ po.comments }}</textarea>
            </div>
            <!-- /.col -->
            <div class="col-2">
                </div>
            <div class="col-4">
              <p class="lead">Summary</p>
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                  <tr>
                    <th style="width:50%">Subtotal:</th>
                    <td class="text-center" id="po_sub_total">0.00</td>
                  </tr>
                  <tr>
                    <th style="width:50%">Tax Total:</th>
                    <td class="text-center" id="po_tax_total">0.00</td>
                  </tr>

                  <tr>
                    <th>Total:</th>
                    <td class="text-center" id="po_total">0.00</td>
                  </tr>
                </tbody></table>
              </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12">
              <!--<button href="invoice-print.html" class="btn btn-default"><i class="fas fa-print"></i> Print</button>-->
              <button title="Create Purchase Order" id="btn_po_create" type="button"
                      class="btn btn-success float-right mr-2"><i class="far fa-credit-card"></i> Create
              </button>
            <!--  <button type="button" id="btn_po_save" class="btn btn-info float-right mr-2">
                 <i class="fa fa-save"></i> Save
              </button>-->
              <button title="Generate PDF" id="btn_po_generate_pdf" type="button" class="btn btn-primary float-right mr-2" >
                <i class="fas fa-download"></i> Generate PDF
              </button>
              <a href="{% url 'all_products' %}" class="btn btn-secondary ml-2" ><i class="fas fa-history"></i>
                Cancel</a>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>
{{ line_items|json_script:"initial_line_items" }}
<script>
$(document).ready(function () {
    renderLineItems();

    // Vendor change event
    $("#vendor_id").change(function (e) {
        const vendorUrlTemplate = "{% url 'get_single_vendor' 0 %}";
        fetch(vendorUrlTemplate.replace("0", e.target.value))
            .then(res => res.json())
            .then(data => {
                if (data.status) {
                    const vend_details = data.data;
                    $("#vendor_name").val(vend_details.name);
                    $("#currency_code").val(vend_details.currency);
                }
            });
    });

    // Product search debounce
    let timer;
    $("#productSearch").on("input", function () {
        clearTimeout(timer);
        const query = $(this).val();
        const box = $("#suggestionsBox");

        if (query.length < 2) {
            box.hide();
            return;
        }

        timer = setTimeout(() => {
            $.ajax({
                url: "{% url 'api_product_search' %}",
                method: "GET",
                data: { q: query },
                success: function (response) {
                    const product_data = response.data;
                    box.empty();

                    if (!product_data.length) return box.hide();

                    product_data.forEach(item => {
                        const html = `
                            <a href="#"
                               data-item='${JSON.stringify(item)}'
                               class="list-group-item list-group-item-action d-flex product-option"
                               data-title="${item.title}">
                                <div class="ml-3" style="font-size:14px;">
                                    <h6>${item.title}</h6>
                                    <img src="${item.image}" class="rounded" width="30" height="30">
                                    <div><strong>Stock QTY: </strong> ${item.stock_qty || "--"}</div>
                                    <div><strong>SKU: </strong> ${item.sku}</div>
                                    <div><strong>Price: </strong> ${item.price}</div>
                                </div>
                            </a>`;
                        box.append(html);
                    });

                    box.show();
                }
            });
        }, 300);
    });

    // Select product
    $(document).on("click", "#suggestionsBox a", function (e) {
        e.preventDefault();
        $("#productSearch").val($(this).data("title"));
        $("#suggestionsBox").hide();
    });
});


// Clamp %
function clampPercentage(v) {
    if (!v) return 0;
    v = parseFloat(v);
    return Math.max(0, Math.min(100, v));
}

// Product click → autofill fields
$(document).on("click", ".product-option", function (e) {
    e.preventDefault();
    const item = $(this).data("item");

    $("#row_item").val(JSON.stringify(item));
    $("#productSearch").val(item.title);
    $("#row_qty").val(1);
    $("#row_price").val(item.price || 0);
    $("#row_discount_percentage").val(0);

    calculateSubtotal();
});


// Subtotal calculation (add area)
$(document).on("input", "#row_qty, #row_price, #row_discount_percentage", calculateSubtotal);

function calculateSubtotal() {
    const qty = parseFloat($("#row_qty").val()) || 0;
    const price = parseFloat($("#row_price").val()) || 0;
    let discount = clampPercentage($("#row_discount_percentage").val());

    let subtotal = qty * price;
    subtotal -= subtotal * (discount / 100);

    $("#row_sub_total_detail").text("Subtotal: " + subtotal.toFixed(2));
}


// -----------------------------------------------
// LINE ITEMS ARRAY
// -----------------------------------------------
let lineItems = JSON.parse(document.getElementById("initial_line_items").textContent);

// ADD LINE ITEM
$(document).on("click", "#btn_add_line_item", function () {

    let global_tax_value = parseFloat($("#tax_percentage").val()) || 0;

    const qty = parseFloat($("#row_qty").val()) || 0;
    const price = parseFloat($("#row_price").val()) || 0;
    const discount = clampPercentage($("#row_discount_percentage").val());
    const tax = clampPercentage($("#row_tax_percentage").val()) || global_tax_value;

    const row_item = JSON.parse($("#row_item").val());

    // Prevent duplicates
    if (lineItems.some(detail => detail.row_item.id === row_item.id)) {
        toastr.error("Product already added");
        return;
    }

    // ------------------------------
    // CALCULATIONS
    // ------------------------------
    let sub_total = qty * price;               // base
    sub_total -= sub_total * (discount / 100); // discount applied

    let tax_amount = sub_total * (tax / 100);  // tax value in rupees
    let line_total = sub_total + tax_amount;   // final

    // ------------------------------
    // ADD ITEM TO ARRAY
    // ------------------------------
    lineItems.push({
        row_item,
        qty,
        price,
        discount,
        tax,          // tax percentage
        sub_total,    // before tax
        tax_amount,   // tax in rupees
        line_total    // sub_total + tax_amount
    });

    renderLineItems();
    resetLineItem();
});


// RENDER TABLE
function renderLineItems() {
    const tbody = $("#product_line_item");
    if (!lineItems.length) {
        tbody.html(`<tr><td colspan="9" class="text-center">No records found</td></tr>`);
        return;
    }

    let html = "";
    lineItems.forEach((item, index) => {
        html += `
        <tr data-index="${index}" class="po-line-row">
            <td class="align-middle">
                <div class="d-flex align-items-center">
                    <img src="${item.row_item.image}" width="48" height="48" class="rounded border mr-2">
                    <div>
                        <div class="font-weight-bold">${item.row_item.title}</div>
                        <div class="text-muted" style="font-size:12px;">SKU: ${item.row_item.sku}</div>
                    </div>
                </div>
            </td>
            <td class="editable qty align-middle text-decoration-underline  text-right">${item.qty}</td>
            <td class="editable price align-middle text-decoration-underline  text-right">${item.price}</td>
            <td class="editable tax align-middle text-decoration-underline  text-right">${item.tax}</td>
            <td class="editable discount align-middle text-decoration-underline text-right">${item.discount}</td>
            <td id="sub_total_${index}" class=" discount align-middle text-right">${item.sub_total.toFixed(2)}</td>
            <td id="tax_amount_${index}" class=" discount align-middle text-right">${item.tax_amount.toFixed(2)}</td>
            <td id="line_total_${index}" class="align-middle text-right">${item.line_total.toFixed(2)}</td>
            <td class="align-middle ">
                <button class="btn btn-danger btn-sm delete-item" data-index="${index}">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>`;
    });

    tbody.html(html);
    updatePOTotals();
}

// CLICK → INLINE EDITOR
$(document).on("click", "tr.po-line-row td.editable", function () {
    const td = $(this);
    if (td.find("input").length) return;
    td.html(`<input type="number" class="form-control text-decoration-none form-control-sm edit-field" value="${td.text().trim()}">`)
    td.find("input").focus();
});


$(document).on("blur", ".edit-field", function () {
    const input = $(this);
    const td = input.closest("td");
    const index = td.closest("tr").data("index");
    const item = lineItems[index];

    let newVal = parseFloat(input.val());
    if (isNaN(newVal)) newVal = 0;

    // Validation rules
    const rules = {
        qty: {
            validate: v => v > 0 && Number.isInteger(v),
            error: "Quantity must be a whole number greater than zero.",
            assign: v => item.qty = v
        },
        price: {
            validate: v => v >= 1 && Math.floor(Math.abs(v)).toString().length <= 5,
            error: "Invalid Price. Must be ≥ 1 and max 5 digits.",
            assign: v => item.price = v
        },
        discount: {
            validate: v => v >= 0 && v <= 100,
            error: "Discount must be between 0 and 100.",
            assign: v => item.discount = v
        },
        tax: {
            validate: v => v >= 0 && v <= 100,
            error: "Tax must be between 0 and 100.",
            assign: v => item.tax = v
        }
    };

    // Detect which column was edited
    let col = Object.keys(rules).find(key => td.hasClass(key));
    if (!col) return;

    const rule = rules[col];

    // Validation check
    if (!rule.validate(newVal)) {
        input.val(item[col]);
        input.focus();
        toastr.error(rule.error);
        return;
    }

    // Update the item
    rule.assign(newVal);

    // -----------------------------------
    // RE-CALCULATE TOTALS
    // -----------------------------------
    let sub_total = item.qty * item.price;
    sub_total -= sub_total * (item.discount / 100);

    let tax_total = sub_total * (item.tax / 100);
    let line_total = sub_total + tax_total;

    // Update array values
    item.sub_total = sub_total;   // before tax
    item.tax_total = tax_total;   // only tax amount
    item.line_total = line_total; // final row total
    // Update UI
    $(`#sub_total_${index}`).text(sub_total.toFixed(2));
    $(`#tax_amount_${index}`).text(tax_total.toFixed(2));
    $(`#line_total_${index}`).text(line_total.toFixed(2));
    td.text(newVal);

    updatePOTotals();
});

// DELETE LINE ITEM
$(document).on("click", ".delete-item", function () {
    lineItems.splice($(this).data("index"), 1);
    renderLineItems();
    updatePOTotals();
});


// -----------------------------------------------
// TOTALS
// -----------------------------------------------
function updatePOTotals() {

    if (lineItems.length === 0) {
        $("#po_sub_total").text("0.00");
        $("#po_tax_total").text("0.00");
        $("#po_total").text("0.00");
        return;
    }

    let total_sub = 0;
    let total_tax = 0;
    let total_line = 0;
    console.log(lineItems)
    lineItems.forEach(item => {
        total_sub += item.sub_total || 0;
        total_tax += item.tax_amount || 0;
        total_line += item.line_total || 0;
    });

    $("#po_sub_total").text(total_sub.toFixed(2));
    $("#po_tax_total").text(total_tax.toFixed(2));
    $("#po_total").text(total_line.toFixed(2));
}

// -----------------------------------------------
// RESET FORM
// -----------------------------------------------
function resetLineItem() {
    $("#row_item, #row_qty, #row_price, #row_discount_percentage, #row_tax_percentage, #productSearch").val("");
    $("#row_sub_total_detail").text("");
}
let vendor_id          = $("#vendor_id");
let vendor_name        = $("#vendor_name");
let currency_code      = $("#currency_code");
let vendor_reference   = $("#vendor_reference");
let invoice_date       = $("#invoice_date");
let warehouse          = $("#warehouse");
let order_date         = $("#order_date");
let delivery_date      = $("#delivery_date");
let payment_term_id    = $("#payment_term_id");
let delivery_name      = $("#delivery_name");
let address_line1      = $("#address_line1");
let address_line2      = $("#address_line2");
let suburb             = $("#suburb");
let state              = $("#state");
let post_code          = $("#post_code");
let country            = $("#country_id");
let tax_percentage     = $("#tax_percentage");
let productSearch     = $("#productSearch");

function buildPOFormData(){
    // Validation rules (field → message)
    return {
        "po_id": "{{ po_id }}",
        "vendor_id": $("#vendor_id").val(),
        "vendor_name": $("#vendor_name").val(),
        "currency_code": $("#currency_code").val(),
        "vendor_reference": $("#vendor_reference").val(),
        "invoice_date": $("#invoice_date").val(),
        "warehouse": $("#warehouse").val(),
        "order_date": $("#order_date").val(),
        "delivery_date": $("#delivery_date").val(),
        "payment_term_id": $("#payment_term_id").val(),
        "delivery_name": $("#delivery_name").val(),
        "address_line1": $("#address_line1").val(),
        "address_line2": $("#address_line2").val(),
        "suburb": $("#suburb").val(),
        "city": $("#city").val(),
        "state": $("#state").val(),
        "post_code": $("#post_code").val(),
        "country": $("#country_id").val(),
        "tax_percentage": $("#tax_percentage").val(),
        "comments": $("#comments").val(),
        "lineItems": lineItems
    };
}

function validatePOForm(){
    // Line items array must not be empty

    // Validation rules (field → message)
    const rules = [
        { el: vendor_id,      msg: "Vendor is required" },
        { el: vendor_name,      msg: "Vendor Name is required" },
        { el: currency_code,    msg: "Currency Code is required" },
        { el: vendor_reference, msg: "Vendor Reference is required" },
        { el: invoice_date,     msg: "Invoice Date is required" },
        { el: warehouse,        msg: "Warehouse is required" },
        { el: order_date,       msg: "Order Date is required" },
        { el: delivery_date,    msg: "Delivery Date is required" },
        { el: payment_term_id,  msg: "Payment Term is required" },
        { el: delivery_name,    msg: "Delivery Name is required" },
        { el: address_line1,    msg: "Address Line 1 is required" },
        { el: address_line2,    msg: "Address Line 2 is required" },
        { el: suburb,           msg: "Suburb is required" },
        { el: state,            msg: "State is required" },
        { el: post_code,        msg: "Postcode is required" },
        { el: country,          msg: "Country is required" },
        { el: tax_percentage,   msg: "Tax Percentage is required" }
    ];

    // Loop and validate
    for (let rule of rules) {
        if (!rule.el.val().trim()) {
            toastr.error(rule.msg);
            // Focus field
            rule.el.focus();
            // Scroll to field (optional but helpful)
            rule.el[0].scrollIntoView({ behavior: "smooth", block: "center" });
            return false;
        }
    }

    if (!lineItems || lineItems.length === 0) {
        toastr.error("Please add at least one product line item");
        productSearch.focus();
        return false;
    }

    return true; // Passed validation
}

document.addEventListener("DOMContentLoaded", function () {
    $(".percentager").smartNumericInput();
    const po_create = document.getElementById("btn_po_create");
    po_create.addEventListener("click", function(e){
        e.preventDefault();
        e.stopPropagation();
        console.log("In prev")
        if(validatePOForm()){
            let jsonData = buildPOFormData();
            console.log(jsonData);
            fetch("{% url 'save_po_order' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCSRFToken()
                },
                body: JSON.stringify(jsonData)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then(data => {
                if(data.status)
                    toastr.success(data?.message || "PO Created Successfully!");
                else
                    toastr.success(data?.message || "Error creating Purchase Order");
            })
            .catch(error => {
                toastr.error("Error saving PO.");
                console.error("Fetch error:", error);
            });
            //po_create.setAttribute("disabled", true)
        }

    });
});
function getCSRFToken() {
    return document.querySelector('[name=csrfmiddlewaretoken]').value;
}
</script>
<style>
    input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
    text-align: right;          /* Nice right alignment for numbers */
}

#suggestionsBox {
    max-height: 350px;
    overflow-y: auto;
    border-radius: 6px;
}

#suggestionsBox a {
    padding: 10px;
}

#suggestionsBox img {
    object-fit: cover;
}
.product-title-line-item{
     max-width: 255px;       /* adjust width to fit your table */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size:13px;
}
.text-decoration-underline { text-decoration: underline; cursor:pointer;}
</style>
{% endblock %}