{% extends "sbadmin/base.html" %}
{% load static %}
{% block title %}Create Shipping Carrier{% endblock %}
{% block content %}
<div class="content-wrapper">
  <!-- Header -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2 align-items-center">
        <div class="col-sm-6">
          <h4 class="m-0">{% if is_edit %}
            <i class="fas fa-edit mr-1 text-warning"></i> Edit Shipping Carrier
        {% else %}
            <i class="fas fa-plus mr-1 text-success"></i> Add New Shipping Carrier
        {% endif %}

          </h4>
        </div>
        <div class="col-sm-6 text-right">
          <a href="{% url 'manage_shipping_providers_listing' %}" class="btn btn-sm">
            <i class="fas fa-window-close fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Content -->
  <section class="content">
    <div class="card card-outline card-primary shadow-sm">
      <div class="card-header">
        <h3 class="card-title mb-0">
          <i class="fas fa-edit text-secondary mr-1"></i> Details
        </h3>
      </div>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
      <!-- Edit Country Form -->
      <form method="post" {% if is_edit %}
            action=""
        {% else %}
            action="{% url 'save_shipping_details' %}"
        {% endif %}
       class="p-3">
        {% csrf_token %}
        <div class="card-body col-sm-7">
          <div class="form-group row">
            <label for="{{ form.carrier_name.id_for_label }}" class="col-sm-4 col-form-label">Shipping Carrier and Class<span class="text-danger">*</span></span></label>
            <div class="col-sm-8">
              {{ form.carrier_name }}
              {% if form.carrier_name.errors %}
                  {% for error in form.carrier_name.errors %}
                      <div class="invalid-feedback text-danger d-block">{{ error }}</div>
                  {% endfor %}
              {% endif %}
            </div>

          </div>

          <div class="form-group row">
            <label for="{{ form.carrier_code.id_for_label }}" class="col-sm-4 col-form-label">Carrier Code</label>
            <div class="col-sm-8">
              {{ form.carrier_code }}
            </div>
          </div>

          <div class="form-group row">
            <label for="{{ form.class_code.id_for_label }}" class="col-sm-4 col-form-label">Class Code<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              {{ form.class_code }}
            </div>
          </div>

          <div class="form-group row">
            <label for="{{ form.tracking_url.id_for_label }}" class="col-sm-4 col-form-label">Tracking URL<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              {{ form.tracking_url }}
              <small class="form-text text-muted">
                Example: https://www.dhl.com/us-en/home/tracking.html?tracking-id={0} —
                The tracking ID will be automatically inserted into the {0} placeholder.
              </small>
              {% if form.tracking_url.errors %}
                  {% for error in form.tracking_url.errors %}
                      <div class="invalid-feedback text-danger d-block">{{ error }}</div>
                  {% endfor %}
              {% endif %}
            </div>
          </div>

        </div>
        <button type="submit" class="btn btn-primary">Save Carrier</button>
        </div>
      </form>
  </section>
</div>
{% endblock %}
