{% load static %}
 <footer class="main-footer">
    <strong>Copyright &copy; AdminLTE.io</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 0.0.01
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
<script src="{% static 'sbadmin/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'sbadmin/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<script src="{% static 'sbadmin/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'sbadmin/plugins/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'sbadmin/plugins/sparklines/sparkline.js' %}"></script>
<script src="{% static 'sbadmin/plugins/jqvmap/jquery.vmap.min.js' %}"></script>
<script src="{% static 'sbadmin/plugins/jqvmap/maps/jquery.vmap.usa.js' %}"></script>
<script src="{% static 'sbadmin/plugins/jquery-knob/jquery.knob.min.js' %}"></script>
<script src="{% static 'sbadmin/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'sbadmin/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'sbadmin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<script src="{% static 'sbadmin/plugins/summernote/summernote-bs4.min.js' %}"></script>
<script src="{% static 'sbadmin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
<script src="{% static 'sbadmin/dist/js/adminlte.js' %}"></script>
<script src="{% static 'sbadmin/dist/js/pages/dashboard.js' %}"></script>
<script src="{% static 'sbadmin/dist/js/demo.js' %}"></script>
</body>
</html>