{% load static %}
{% load static %}
<link rel="stylesheet" href="{% static 'sbadmin/plugins/fontawesome-free/css/all.min.css' %}">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="{% static 'sbadmin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
<link rel="stylesheet" href="{% static 'sbadmin/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'sbadmin/plugins/jqvmap/jqvmap.min.css' %}">
<link rel="stylesheet" href="{% static 'sbadmin/dist/css/adminlte.min.css' %}">
<link rel="stylesheet" href="{% static 'sbadmin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
<link rel="stylesheet" href="{% static 'sbadmin/plugins/daterangepicker/daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'sbadmin/plugins/summernote/summernote-bs4.css' %}">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
