{% load static %}
{% load static %}

<link rel="stylesheet" href="{% static 'sbadmin/plugins/fontawesome-free/css/all.min.css' %}">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="{% static 'sbadmin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
<link rel="stylesheet" href="{% static 'sbadmin/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'sbadmin/plugins/jqvmap/jqvmap.min.css' %}">
<!--<link rel="stylesheet" href="{% static 'sbadmin/dist/css/adminlte.min.css' %}">-->
<link rel="stylesheet" href="{% static 'sbadmin/dist/css/adminlte.css' %}">
<link rel="stylesheet" href="{% static 'sbadmin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
<link rel="stylesheet" href="{% static 'sbadmin/plugins/daterangepicker/daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'sbadmin/plugins/summernote/summernote-bs4.css' %}">
 <link rel="stylesheet" href="{% static 'sbadmin/plugins/toastr/toastr.min.css' %}">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
<!--
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
"Inter", "Source Sans Pro", Helvetica, Arial, sans-serif;-->
<!-- Select2 CSS


-->
<!--
<link rel="stylesheet" href="{% static 'sbadmin/plugins/select2/css/select2.min.css' %}"> -->
<link rel="stylesheet" href="{% static 'sbadmin/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'sbadmin/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'sbadmin/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!--
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!-- SweetAlert + Full JS -->
<script  src="{% static 'sbadmin/plugins/select2/js/select2.min.js' %}"> </script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"></script>
<script src="{% static 'sbadmin/plugins/toastr/toastr.min.js' %}"></script>


<style>
.form-control-sm + .select2-container .select2-selection--single {
    height: calc(1.5em + 0.5rem + 2px) !important;
    padding: 0.25rem 0.5rem;
}
.form-control-sm + .select2-container .select2-selection__rendered {
    font-size: 0.875rem;
    padding: 0;
}
.form-control-sm + .select2-container .select2-selection__arrow {
    height: calc(1.5em + 0.5rem + 2px) !important;
}
.select2-container--default .select2-dropdown .select2-results__option {
    font-size: 0.875rem;
}
.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
</style>

<style>
.project-tab {
    margin-top: -8%;
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .project-tab .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 2px solid !important;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 0px solid transparent;
}
.project-tab a{
    text-decoration: none;
    color: #333;
}
.cursor-pointer {
  cursor: pointer;
}
/*
.swal2-compact-design .swal2-header{
    padding:8px;
}
*/
.swal2-compact-design {
  width: 350px !important;
  padding: 10px !important;
  font-size: 0.9em !important;
}

.swal2-compact-design .swal2-icon {
  font-size: 0.8em !important; /* Scales the icon size */
  margin: 10px auto !important;
}

.swal2-compact-design .swal2-actions button {
  padding: 0.375em 0.75em !important;
  font-size: 0.85em !important;
}
.swal2-compact-design .swal2-actions{
    padding: 0 0 0.3rem;
}
.dropzone .dz-preview.dz-file-preview .dz-image {
    background: linear-gradient(to bottom, #328dcc, #2478b2) !important;
}
.dropzone .dz-preview .dz-progress{ background:none !important;}
.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
    background-color: white !important;
}
</style>



