{% extends "sbadmin/base.html" %}
{% load custom_tags %}
{% block title %}All Purchases Receives{% endblock %}

{% block content %}
<div class="content-wrapper">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>All Purchases Receives</h1>
        </div>
        <div class="col-sm-6">
            <div class="float-right">
             <div class="btn-group float-right">
                    <button type="button" id="main-action-btn" class="btn btn-outline-success"><i class="fas fa-bars fa-sm mr-1 text-sm"></i>Actions</button>
                    <button type="button" class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{% url 'create_po_order_receive' %}"><i class="fas fa-plus fa-sm mr-1"></i> Add New</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-upload fa-sm mr-1"></i> Import</a>
                        <a class="dropdown-item" href="#" ><i class="fas fa-download fa-sm mr-1"></i> Export</a>
                    </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Main Content -->
  <section class="content">
    <div class="card card-outline">
       <div class="card-header">
          <div class="col-sm-3 float-left">

            <form method="get">
              <div class="position-relative d-inline-block" style="width: 300px;">
                <input type="text" class="form-control pr-4" name="q" placeholder="Type to search..." id="searchInput">
                <button class="btn btn-sm text-secondary position-absolute" id="clearSearch"
                        style="top: 50%; right: 10px; transform: translateY(-50%); padding: 0;"
                        title="Clear Search">
                  <i class="fas fa-times-circle"></i>
                </button>
              </div>
            </form>
          </div>
          <div class=" float-right">
            <button type="button" style="display: none;"  id="bulkDeleteBtn"
                    class="btn btn-outline-danger btn-sm" title="Delete selected records"
                    onclick="deleteSelected(event)">
                <i class="fas fa-trash"></i> Delete
            </button>
        </div>
      </div>

      <div class="card-body p-0">
          <div id="tabuar-table"></div>

      </div>
        <div class="card-footer pl-1">
            <div id="page-info" class="text-bold  small px-2 py-1"></div>
        </div>
    </div>
  </section>
</div>

{% block footer_scripts %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    let total = 0;
    const getQueryParam = (name) => {
        return new URLSearchParams(window.location.search).get(name) || '';
    };
    const searchInput = document.getElementById('searchInput');

  const table = new Tabulator("#tabuar-table", {
        height:"400px",
      layout: "fitColumns",
      placeholder:"No Records found",
      ajaxURL: "{% url 'all_purchase_receives_json' %}",
      ajaxConfig: "GET",
      pagination: true,
      paginationMode: "remote", movableColumns: true,
      paginationSize: 20,
      paginationCounter: "pages",
      paginationSizeSelector: [20, 30, 40, 50], // max 50 allowed
      sortMode: "local",
      filterMode: "remote",
      selectableRows: true,
      ajaxParams: function(params){
            // Add the current 'q' value from the URL to the AJAX parameters
            params = params ?? {};
            params.q = getQueryParam('q');
            return params;
        },
      ajaxResponse:function(url, params, response){
          total = response.total;
          return {
              data: response.data|| [],        // row array
              last_page: response.last_page,  // total pages
              row_count: response.total,
          };
      },

      columns:[
          { title: "ID", field: "po_id", visible: false },
          { formatter:"rowSelection", width:25, hozAlign:"center", headerSort:false },
          {title:"DATE", field:"received_date", formatter: function(cell){
                const v = cell.getValue();
                if (!v) return "";
                const d = new Date(v + "T00:00:00");
                const dd = String(d.getDate()).padStart(2, "0");
                const mm = String(d.getMonth() + 1).padStart(2, "0");
                const yyyy = d.getFullYear();
                return `${dd}-${mm}-${yyyy}`;
              },hozAlign:"center",headerSort:false,
              minWidth:90,headerHozAlign:"center"},
          {
                title: "Purchase Order#",
                field: "po_receive_number",
                minWidth: 110,
                headerHozAlign: "center",
                hozAlign: "center",
                formatter: function (cell) {
                    const po_receive_id = cell.getData().po_receive_id;
                    const po_number = cell.getValue();
                    const url = "{% url 'view_po_receive_order' 0 %}".replace("0", po_receive_id);

                    return `<a href="${url}" class="text-primary font-weight-bold">${po_number}</a>`;
                }
            },//company_name
          {title:"VENDOR NAME", hozAlign:"center",minWidth:160,headerHozAlign:"center",
          formatter: function(cell){
            const d = cell.getRow().getData();
            return `<span class="help-text" title="Vendor Name">${d.vendor_name || ""} </span> <br/><small class="help-text" title="Company Name"> ${d.company_name || ""}</small>`;
          }},
          {title:"Purchase Receive#", field:"po_receive_number",hozAlign:"center",minWidth:110,headerHozAlign:"center"},
          {
                title: "Status",
                field: "status_id",
                minWidth: 120,
                hozAlign: "center",
                headerHozAlign: "center",
                formatter: function (cell) {
                    const status = cell.getValue();
                    const statusMap = {
                        0: "New",
                        1: "Placed",
                        2: "Delivered",
                        3: "Back Order",
                        4: "Cancelled",
                        4: "Archieved"
                    };

                    return `<span class="badge badge-pill badge-info">${statusMap[status] || "Unknown"}</span>`;
                }
          },
          {title:"QUANTITY", field:"total_received_qty",hozAlign:"center",minWidth:110,headerHozAlign:"center"},
          {title:"BILLED", field:"is_billed",hozAlign:"center",minWidth:110,
          formatter: function (cell) {
                const is_billed = cell.getValue();
                return `<span class="badge badge-pill badge-${is_billed?"success": "danger"}">${is_billed?"Billed": "Unbilled"}</span>`;
            },headerHozAlign:"center"},
          {title:"", width:70, hozAlign:"center",headerHozAlign:"center", headerSort:false, formatter:(cell)=>{
              const po_receive_id = cell.getRow().getData().po_receive_id;
              const url = "{% url 'create_order' 0 %}".replace("0", po_receive_id);
              return `<button type="button" class="btn btn-sm btn-outline-danger" onclick="deletePO(${po_receive_id},event)"><i class="fas fa-trash-alt"></i></button>`;
          },
            cellClick:function(e){
                e.stopPropagation();  // ✔ avoid row-selection on delete
            }}
      ]
  });
  const bulkDeleteBtn = document.getElementById("bulkDeleteBtn");
  if (bulkDeleteBtn) {
      table.on("rowSelectionChanged", function (data) {
          bulkDeleteBtn.style.display = data.length > 0 ? "inline-block" : "none";
      });
    }
    table.on("dataLoaded", function(p){
        document.getElementById("page-info").innerText =
          ` Total Records: ${total}`;
    });
    document.getElementById('clearSearch')?.addEventListener('click', function(event) {
    event.preventDefault(); // Stop form submission

    searchInput.value = '';
    const url = new URL(window.location);
    url.searchParams.delete("q");
    history.replaceState({}, "", url);

    table.setPage(1);
    searchInput.focus();
});

    document.querySelector('[name="q"]')?.addEventListener("input", e=>{
      const q = e.target.value.trim();
        const url = new URL(window.location);
        if (q === "") {
            url.searchParams.delete("q");
        } else {
            url.searchParams.set("q", q);
        }

        history.replaceState({}, "", url);
        table.setPage(1);
      });

      window.deletePO =(pid, event)=>{
          event.stopPropagation();
          event.preventDefault();
          Swal.fire({
            title: "Delete PO?",
            text: "This action cannot be undone.",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            confirmButtonText: "Delete"
        }).then(result => {
            if (!result.value) return;
            if (result.value) {
                // Note: Ensure this URL matches your urls.py pattern perfectly
                fetch("{% url 'delete_po_receive' 0 %}".replace("0",pid), {
                    method: "DELETE",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}",
                        "Accept": "application/json"
                    }
                })
                .then(r => r.json())
                .then(data => {
                    if(data.status){
                        Swal.fire("Deleted", "PO removed successfully", "success")
                        .then(() => table.setData());
                    } else {
                        Swal.fire("Error", data.message || "Something went wrong", "error");
                    }
                })
                .catch(() => Swal.fire("Error", "Server error", "error"));
            }
        });
      };

        window.deleteSelected = (e) => {
            e.stopPropagation();  e.preventDefault();
            const selectedIds = table.getSelectedData().map(r => r.po_id);
            if (!selectedIds.length) return;

            Swal.fire({
                title: "Delete Selected?",
                text: `You are about to delete ${selectedIds.length} Orders. This cannot be undone.`,
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#d33",
                confirmButtonText: "Yes, delete them!"
            }).then((result) => {
                return;
                if (!result.value) return;
                if (result.value) {
                    return;
                    fetch("", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRFToken": "{{ csrf_token }}"
                        },
                        body: JSON.stringify({ ids: selectedIds })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === "success") {
                            Swal.fire("Deleted!", "Products have been deleted.", "success")
                            .then(() => location.reload());
                        } else {
                            Swal.fire("Error", data.message || "Failed to delete.", "error");
                        }
                    })
                    .catch(error => Swal.fire("Error", "Server error occurred.", "error"));
                }
            });
        }
        });
</script>
<script>
document.getElementById("main-action-btn").addEventListener("click", function(e){
    e.preventDefault();   // stop form/button submitting
    e.stopPropagation();
    const splitBtn = this.nextElementSibling;
    $(splitBtn).dropdown("toggle");
});

</script>
{% endblock %}

{% endblock %}
