{% extends "sbadmin/base.html" %}
{% load custom_tags %}
{% block title %}All PO{% endblock %}

{% block content %}
<div class="content-wrapper">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>PO Listings</h1>
        </div>
        <div class="col-sm-6">
            <div class="float-right">

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Main Content -->
  <section class="content">
    <div class="card card-outline">
       <div class="card-header ">
          <div class="d-none">

         <form id="intransitFilterForm" class="container-fluid">
  <div class="row align-items-end">
    <div class="col-lg-3 col-md-6 mb-3">
      <label class="form-label fw-bold" for="filter_po_order">Purchase Order#</label>
      <input type="text" name="po_order" class="form-control" id="filter_po_order" placeholder="PO-12345" />
    </div>

    <div class="col-lg-3 col-md-6 mb-3">
      <label class="form-label fw-bold" for="filter_vendor_id">Vendor</label>

        <select name="vendor_id" class="form-control" id="filter_vendor_id">
            <option value="">select</option>
            {% for vendor in vendors %}
                <option value="{{ vendor.id }}">{{ vendor.display_name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-lg-3 col-md-6 mb-3">
      <label class="form-label fw-bold" for="filter_tracking_no">Tracking#</label>
      <input type="text" name="tracking_no" class="form-control" id="filter_tracking_no" placeholder="TRK-000" />
    </div>

    <div class="col-lg-3 col-md-6 mb-3">
      <label class="form-label fw-bold">Expected Received Date</label>
      <div class="input-group">
        <input type="date" name="date_from" class="form-control" id="filter_expected_rcvd_from_date" aria-label="From Date" />
        <span class="input-group-text">to</span>
        <input type="date" name="date_to" class="form-control" id="filter_expected_rcvd_to_date" aria-label="To Date" />
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-12 text-end">
      <button type="reset" class="btn btn-outline-secondary me-2">Clear</button>
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
</form>
          </div>
          <div class=" float-right">
            <button type="button" style="display: none;"  id="bulkDeleteBtn"
                    class="btn btn-outline-danger btn-sm" title="Delete selected records"
                    onclick="deleteSelected(event)">
                <i class="fas fa-trash"></i> Delete
            </button>
        </div>
      </div>

      <div class="card-body p-0">
          <div id="tabuar-table"></div>

      </div>
        <div class="card-footer pl-1">
            <div id="page-info" class="text-bold  small px-2 py-1"></div>
        </div>
    </div>
  </section>
</div>

{% block footer_scripts %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("intransitFilterForm");

    form.addEventListener("submit", function (e) {
        e.preventDefault();
        table.setPage(1);   // reset pagination
        table.setData();    // 🔁 AJAX reload
    });

    form.addEventListener("reset", function (e) {
        e.preventDefault();   // stop native reset
        // manually clear inputs
        form.querySelectorAll("input, select").forEach(el => {
            if (el.type === "select-one") el.selectedIndex = 0;
            else el.value = "";
        });
        // reload tabulator
        table.setPage(1);
        table.setData();
    });

    let total = 0;
    const getQueryParam = (name) => {
        return new URLSearchParams(window.location.search).get(name) || '';
    };
    const searchInput = document.getElementById('searchInput');

  const table = new Tabulator("#tabuar-table", {
        height:"400px",
      layout: "fitColumns",
      placeholder:"No Records found",
      ajaxURL: "{% url 'po_intransit_api_listing' %}",
      ajaxConfig: "GET",
      pagination: true,
      paginationMode: "remote", movableColumns: true,
      paginationSize: 20,
      paginationCounter: "pages",
      paginationSizeSelector: [20, 30, 40, 50], // max 50 allowed
      sortMode: "local",
      filterMode: "remote",
      selectableRows: true,
      ajaxParams: function(params){
            params = params || {};
            params.po_order = document.getElementById('filter_po_order').value;
            params.vendor_id = document.getElementById('filter_vendor_id').value;
            params.tracking_no = document.getElementById('filter_tracking_no').value;
            params.date_from = document.getElementById('filter_expected_rcvd_from_date').value;
            params.date_to = document.getElementById('filter_expected_rcvd_to_date').value;

            // Keep your 'q' param if you are still using the general search
            return params;
        },
      ajaxResponse:function(url, params, response){
          total = response.total;
          return {
              data: response.data|| [],        // row array
              last_page: response.last_page,  // total pages
              row_count: response.total,
          };
      },

      columns:[
          { title: "ID", field: "bill_id", visible: false },
          {title:"ORDER DATE",headerSort: false ,  field:"order_date",hozAlign:"center", width:120, headerHozAlign:"center",formatter: function (cell) { return formattedDate(cell.getValue()); }},
          {title:"PO NUMBER", field:"po_number",headerSort: false ,
           hozAlign:"center",minWidth:120,headerHozAlign:"center", formatter: function (cell) {
                    const rowData = cell.getRow().getData();
                    return `<a target="_blank" class="text-primary font-weight-bold link"
                    href="/purchaseorder/poreceives/edit/${rowData.po_receive_id}">${rowData.po_number}</a>`;
                    }},
          {title:"ITEM ", headerSort: false , field:"product_name",hozAlign:"left",
          minWidth:120,headerHozAlign:"center",formatter: function (cell) {
                    const rowData = cell.getRow().getData();
                    return `<b>${rowData.product_name}<br/><small>${rowData.product_sku}</small>`;
                    }
          },
          {title:"VENDOR ",headerSort: false ,  field:"vendor_name",hozAlign:"center",minWidth:120,headerHozAlign:"center"},
          {title:"TRACKING", headerSort: false , field:"",formatter: function (cell) {
                    const rowData = cell.getRow().getData();
                    return `<a class='link pt-3 pb-2 cursor-pointer text-primary underline' onclick="showShippingDetails(${rowData.po_id},${rowData.product_id}, ${rowData.received_item_id})">Track</a>`;
                    //showShippingDetails(poId,poItemId,po_receive_id)
                    },
          hozAlign:"center",minWidth:120,headerHozAlign:"center"},
          {title:"ORDERED QTY", headerSort: false , field:"ordered_qty",hozAlign:"center",minWidth:120,headerHozAlign:"center"},
          {title:"RECEIVED QTY", headerSort: false , field:"received_qty",hozAlign:"center",minWidth:120,headerHozAlign:"center"},
          {title: "STATUS",headerSort: false ,  field: "received_status", width:160,  minWidth: 120, hozAlign: "center", headerHozAlign: "center", headerSort:false,
                formatter: function (cell) {
                    const status = cell.getValue();
                    const statusMap = {
                        2: "Shipped",
                        3: "Back Order",
                        4: "Partially Delivered",
                        5: "Delivered",
                        6: "All stock receive",
                        
                    };
                    if(status == 1)
                        return `--`;

                    if(status == -1)
                        return `<span class="badge badge-pill badge-info">Pending</span>`;

                    return `<span class="badge badge-pill badge-info">${statusMap[status] || "Unknown"}</span>`;
                }
          },
      ]
  });
   document.querySelector('form').addEventListener('submit', function(e) {
        e.preventDefault();      // stop page reload
        table.setPage(1);        // reset to first page
        table.setData();         // reload with new filters
    });
    document.querySelector('button[type="reset"]').addEventListener('click', function(e) {
        e.preventDefault();
        // Reset all inputs manually or via form reset
        this.closest('form').reset();
        // Reload table with empty params
        table.setData();
    });
  const bulkDeleteBtn = document.getElementById("bulkDeleteBtn");
  if (bulkDeleteBtn) {
      table.on("rowSelectionChanged", function (data) {
          bulkDeleteBtn.style.display = data.length > 0 ? "inline-block" : "none";
      });
    }
    table.on("dataLoaded", function(p){
        document.getElementById("page-info").innerText =
          ` `;
    });
    document.getElementById('clearSearch')?.addEventListener('click', function(event) {
    event.preventDefault(); // Stop form submission

    searchInput.value = '';
    const url = new URL(window.location);
    url.searchParams.delete("q");
    history.replaceState({}, "", url);

    table.setPage(1);
    searchInput.focus();
});

    document.querySelector('[name="q"]')?.addEventListener("input", e=>{
      const q = e.target.value.trim();
        const url = new URL(window.location);
        if (q === "") {
            url.searchParams.delete("q");
        } else {
            url.searchParams.set("q", q);
        }

        history.replaceState({}, "", url);


        table.setPage(1);
      });

      window.deletePO =(pid, event)=>{
          event.stopPropagation();
          event.preventDefault();
          Swal.fire({
            title: "Delete PO?",
            text: "This action cannot be undone.",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            confirmButtonText: "Delete"
        }).then(result => {
            if (!result.value) return;
            if (result.value) {

                // Note: Ensure this URL matches your urls.py pattern perfectly
                fetch("{% url 'delete_po_bill' 0 %}".replace("0",pid), {
                    method: "DELETE",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}",
                        "Accept": "application/json"
                    }
                })
                .then(r => r.json())
                .then(data => {
                    if(data.status){
                        Swal.fire("Deleted", "PO removed successfully", "success")
                        .then(() => table.setData());
                    } else {
                        Swal.fire("Error", data.message || "Something went wrong", "error");
                    }
                })
                .catch(() => Swal.fire("Error", "Server error", "error"));
            }
        });
      };
		window.showShippingDetails = (poId,poItemId,po_receive_id)=>{
		    $("#shippingDetailsModal").modal("show");
			console.log(poId,poItemId,po_receive_id)
		     renderShippingTable(poId, poItemId, po_receive_id);
		}
        window.deleteSelected = (e) => {
            e.stopPropagation();  e.preventDefault();
            const selectedIds = table.getSelectedData().map(r => r.po_id);
            if (!selectedIds.length) return;

            Swal.fire({
                title: "Delete Selected?",
                text: `You are about to delete ${selectedIds.length} Orders. This cannot be undone.`,
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#d33",
                confirmButtonText: "Yes, delete them!"
            }).then((result) => {
                return;
                if (!result.value) return;
                if (result.value) {
                    return;
                    fetch("{% url 'delete_products_bulk' %}", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRFToken": "{{ csrf_token }}"
                        },
                        body: JSON.stringify({ ids: selectedIds })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === "success") {
                            Swal.fire("Deleted!", "Products have been deleted.", "success")
                            .then(() => location.reload());
                        } else {
                            Swal.fire("Error", data.message || "Failed to delete.", "error");
                        }
                    })
                    .catch(error => Swal.fire("Error", "Server error occurred.", "error"));
                }
            });
        }
        });
</script>

<style>
    #tabuar-table .tabulator-footer {
        background-color: #fafafa;
        border-top: 1px solid #999;
    }
    #tabuar-table .tabulator {
        background-color: #ffffff;
        border: 1px solid #e7e6e6;
     }
.tabulator {
    background-color: #ffffff;
}
</style>

<div class="modal fade" id="shippingDetailsModal" tabindex="-1" role="dialog" aria-labelledby="shippingTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title" id="shippingTitle">Shipping & Tracking</h5>
                <button type="button" class="close text-lg btn btn-tool" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <h6 class="font-weight-bold border-bottom pb-2"> </h6>
                <div class="table-responsive">
                    <table class="table table-bordered table-sm table-striped" id="itemShippingTable">
                        <thead class="thead-light">
                            <tr>
                                <th style="width:23%">Provider</th>
                                <th>Tracking </th>
                                <th style="width:12%">Shipped Date</th>
                                <th style="width:12%">Received Date</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

function renderShippingTable(poId, poItemId, po_receive_id) {
    const tbody = $('#itemShippingTable tbody');
    tbody.html('<tr><td colspan="5" class="text-center"><i class="fa fa-spinner fa-spin"></i> Loading...</td></tr>');
    $.ajax({
        url: `/purchaseorder/api/purchase-order/${poId}/${poItemId}/${po_receive_id}/shipments/`,
        method: 'GET',
        success: function(response) {
            tbody.empty();
            if (response.data && response.data.length > 0) {
                response.data.forEach(item => {
                    tbody.append(`
                        <tr>
                            <td>${item.provider_name || 'Unknown'}</td>
                            <td><b class="text-primary">
                            <a class="link text-primary" href="${item.provider_tracking_url}" target="_blank">${item.tracking_number}</a></b></td>
                            <td>${formattedDate(item.shipped_date) || '-'}</td>
                            <td>${formattedDate(item.received_date) || '-'}</td>
                        </tr>
                    `);
                });
            } else {
                tbody.html('<tr><td colspan="5" class="text-center text-muted py-3">No records found.</td></tr>');
            }
        }
    });
}

</script>
{% endblock %}

{% endblock %}
